@import "./style.css" screen;

@media only screen and (max-width: 1280px) and (min-width: 768px) {
    /* **************************************** */
    .b-header {
        position: absolute;
    }

    .b-header .header__container {
        width: 92%;
        max-width: 100%;
    }
    .b-header .b-menu {
        display: none;
    }

    /* **************************************** */

    .b-about {
        height: 565px;
    }
    .b-about .about__payment {
        display: none;
    }
    .b-about .about__container {
        position: relative;
        overflow: hidden;
        height: 100%;
    }
    .b-about .about__description {
        width: 92%;
        margin: 0 auto;
    }
    .b-about .about__title {
        padding-top: 138px;
    }
    .b-about .about__male {
        position: absolute;
        width: 374px;
        height: 439px;
        top: 126px;
        left: 258px;
    }
    .b-about .about__female {
        position: absolute;
        width: 297px;
        height: 383px;
        top: 182px;
        left: 502px;
    }

    /* ***************************************** */

    .b-feedback {
        position: static;
        width: 100%;
        background-image: url("../img/mob-fon.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 443px;
        box-shadow: none;
        border: none;
        border-radius: 0px;
        padding-top: 0;
        overflow: hidden;
    }
    .b-feedback .feedback__container {
        width: 92%;
        margin: 0 auto;
    }
    .b-feedback .feedback__container h1 {
        letter-spacing: 1px;
        margin-top: 0;
        padding-top: 46px;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        text-align: center;
        color: #ffffff;
    }
    .b-feedback .feedback__container input,
    .b-feedback .feedback__container textarea,
    .b-feedback .feedback__container button {
        width: 100%;
    }

    /* ***************************************** */

    .b-services {
        width: 100%;
    }
    .b-services .services__container {
        width: 92%;
    }
    .b-services .services__card {
        width: 47%;
    }
    .b-services .services__back img {
        width: 100%;
        height: 186px;
    }
    .b-services .services__content img {
        height: 64px;
        width: 64px;
    }
    .b-services .services__content p {
        margin-top: 11px;
    }
    .b-services .services__content {
        margin-top: 27px;
        margin-left: 47px;
        width: 40%;
    }
    .b-services .services__arrow {
        margin-top: 116px;
        margin-left: 80%;
    }
    /* ***************************************** */

    .b-reviews {
        width: 100%;
    }

    .b-reviews .reviews__container {
        width: 92%;
    }
    .b-reviews .reviews__title {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 85px;
        text-align: center;
        color: #000000;
    }
    .b-reviews .reviews__card {
        padding-right: 27px;
        padding-left: 27px;
        margin-bottom: 26px;
        width: 100%;
        height: auto;
    }
    .b-reviews .reviews__description-card {
        margin-top: 26px;
    }
    .b-reviews .reviews__document-card {
        margin-top: 28px;
        margin-bottom: 28px;
    }
    .b-reviews .reviews__card--invisible {
        display: none;
    }

    /* ***************************************** */

    .b-button {
        margin-top: 11px;
        margin-bottom: 70px;
    }

    /* ***************************************** */

    .b-video-box {
        margin-top: 0;
        margin-bottom: 0;
        width: 89%;
        display: flex;
        justify-content: space-between;
    }
    .b-video-box .video-box__player--invisible {
        display: none;
    }
    .b-video-box .video-box__arrow-left,
    .b-video-box .video-box__arrow-right {
        margin-top: 150px;
    }
    .b-video-box .video-box__arrow-right {
        margin-left: 86%;
    }
    .b-video-box .video-box__container iframe {
        width: 572px;
        height: 312px;
    }

    /* ***************************************** */

    .b-mass-media {
        margin-top: 58px;
    }

    .b-mass-media .mass-media__title {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        text-align: center;
        margin: 0 0 30px 0;
        color: #000000;
    }
    /* ****************************************** */

    .b-application {
        width: 100%;
    }
    .b-application .application__image {
        width: 45%;
    }
    .b-application .application__container {
        width: 95%;
    }
    .b-application .application__description {
        margin: 0;
        width: 100%;
    }
    .b-application .application__feedback {
        display: flex;
        flex-direction: column;
        margin-top: 59px;
    }
    .b-application .application__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: #ffffff;
    }
    .b-call {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .b-call input {
        width: 354px;
    }
    /* ******************************************* */

    .b-examples {
        margin-top: 52px;
    }
    .b-examples__container {
        width: 92%;
    }
    .b-examples .examples__title {
        width: 58%;
        margin: 0 auto;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        color: #000000;
        margin-bottom: 27px;
    }
    .b-examples .examples__card {
        width: 48%;
        margin-bottom: 26px;
    }
    /* ********************************************* */

    .b-mission {
        margin-top: 86px;
        margin-bottom: 0;
    }
    .b-mission .mission__container {
        max-width: 100%;
    }
    .b-mission .mission__title {
        padding-top: 62px;
        width: 60%;
        margin: auto;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        color: #ffffff;
    }
    .b-mission .mission__items {
        width: 92%;
    }
    .b-mission .mission__item {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }
    .b-mission .mission__item p {
        margin-top: 10px;
        margin-left: 0;
    }
    /* ********************************************** */

    .b-adrees .adress__title {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        text-align: center;
        color: #000000;
    }

    /* *********************************************** */

    .b-footer {
        width: 100%;
    }

    .b-footer .footer__feedback {
        width: 100%;
        height: auto;
    }
    .b-footer .footer__feedback-title {
        padding-top: 46px;
    }
    .b-footer .footer__feedback-container {
        width: 68%;
    }
    .b-footer .footer__feedback-messenger-title {
        margin-top: 29px;
    }
    .b-call__row {
        margin-top: 15px;
        height: 191px;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }

    .b-footer .footer__feedback-messenger {
        margin-top: 23px;
        margin-bottom: 76px;
    }
    .b-call__row input {
        width: 100%;
    }
    .b-call__row button {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}
